In [1]:
x = 'tatiana'

In [8]:
x_lst = []
for letter in x:
    x_lst.append(letter.upper())
    print(letter.upper(), end = ' ')
x_lst

T A T I A N A

['T', 'A', 'T', 'I', 'A', 'N', 'A']

In [6]:
list(map(str.upper, x))

['T', 'A', 'T', 'I', 'A', 'N', 'A']

In [9]:
import re
test_str = "1NoahEmma2LiamOlivia3MasonSophia4JacobIsabella5WilliamAva6EthanMia7MichaelEmily"
lst = re.findall(r'\d([A-Z][a-z]+)([A-Z][a-z]+)', test_str)

In [12]:
for element in lst:
    print(element[0], element[1])

Noah Emma
Liam Olivia
Mason Sophia
Jacob Isabella
William Ava
Ethan Mia
Michael Emily

In [13]:
slovar = {'cat': 100, 'me': 1232, 'smth': 200}

In [15]:
for element in slovar:
    print(element, slovar[element])

cat 100
me 1232
smth 200

In [16]:
# сортировка по алфавиту
for element in sorted(slovar):
    print(element, slovar[element])

cat 100
me 1232
smth 200

In [19]:
# сортировка по значению
slovar.keys(), slovar.values(), slovar.items()

(dict_keys(['cat', 'me', 'smth']),
 dict_values([100, 1232, 200]),
 dict_items([('cat', 100), ('me', 1232), ('smth', 200)]))

In [20]:
for value in sorted(slovar.values()):
    print(value)

100
200
1232

In [ ]:
slovar['dog'] = 100

In [24]:
for value in sorted(set(slovar.values())):
    print(value)
    for key in slovar:
        if slovar[key] == value:
            print(key, value)

100
cat 100
dog 100
200
smth 200
1232
me 1232

In [25]:
for x in {2, 3}:
    print(x)

2
3

In [29]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [31]:
list(range(10, 0, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [32]:
students = ['Sofia', 'Mark', 'Sofia']
marks = [10, 9, 4]

In [34]:
n = 50
x = 1
while True:
    if x ** 2 > n:
        break
    else:
        print(x**2, end = ' ')
    x += 1

1 4 9 16 25 36 49

In [35]:
for number in range(1, n):
    if number**2 > n:
        break
    else:
        print(number**2, end = ' ')

1 4 9 16 25 36 49

In [37]:
students, marks

(['Sofia', 'Mark', 'Sofia'], [10, 9, 4])

In [40]:
total = 0
count = 0
for idx in range(len(students)):
    print(idx, students[idx])
    if students[idx] == 'Sofia':
        total += marks[idx]
        count += 1

print(total/count)

0 Sofia
1 Mark
2 Sofia
7.0

### как работает for

In [1]:
x = [2, 3, 5]

In [2]:
iter(x)

In [6]:
# TypeError: 'int' object is not iterable -  запускается функция iter

y = 0
iter(y)

TypeError: 'int' object is not iterable

In [3]:
for element in x:
    # x = iter(x)
    # element = next(x)
    print(element)

2
3
5

In [8]:
# функция next забирает следующий элемент
next(iter(x))

2

In [9]:
y = iter(x)

In [13]:
# когда for доходит до ошибки, это означает, что эелементы кончились
next(y)

StopIteration:

In [14]:
z = iter({5,6,7})
print(next(z))
print(next(z))

5
6

In [15]:
for key in new:
    print(key, new[key])

NameError: name 'new' is not defined

In [17]:
m = [4,5,3]
s = ['A', 'B', 'C']
for mark, name in zip(m,s):
    print(name, mark)

A 4
B 5
C 3

In [19]:
list(zip(m, s))

[(4, 'A'), (5, 'B'), (3, 'C')]

In [20]:
x = '1 2 3'.split()
y = '2 2 4 7 4 3'.split()

In [22]:
common = set()

for elem1 in x:
    for elem2 in y:
        if elem1 == elem2:
            common.add(elem1)

In [23]:
common

{'2', '3'}

## списковые включения (list comprehensions)

In [36]:
a = []
for i in range(0,11):
    if i % 2 == 0:
        a.append(i**2)
print(a)

[0, 4, 16, 36, 64, 100]

In [30]:
# if в конце - условие для включения в список
[i**2 for i in range(0,11) if i % 2 == 0]

[0, 4, 16, 36, 64, 100]

In [35]:
[int(i) for i in '1 2 3'.split()]

[1, 2, 3]

In [38]:
prices = [123, -234, 200, -23, 400]
[i if i > 0 else 0 for i in prices]

[123, 0, 200, 0, 400]

In [46]:
text = "Комитет Государственной Безопасности"

print(*[word[0] for word in text.split()])
print(''.join(word[0] for word in text.split()))

К Г Б
КГБ

In [47]:
# уникальные гласные
{i for i in text if i in 'аеиоуюёэ'}

{'а', 'е', 'и', 'о', 'у'}

In [48]:
# сделали словарь с for
{i: i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

### генератор

In [53]:
# пишем условие, по которому будет генерироваться каждый следующий элемент
x = (i**2 for i in range(3))

In [57]:
next(x)

StopIteration:

In [58]:
# генератор нужен, чтобы что-то сделать с большой последовательностью
for element in x:
    print(element)

In [59]:
sum([i **2 for i in range(1000000)])

333332833333500000

In [60]:
# этот быстрее
sum(i**2 for i in range(1000000))

333332833333500000