Центр непрерывного образования

# Программа «Python для автоматизации и анализа данных»

Неделя 2 - 1

*Татьяна Рогович, НИУ ВШЭ*  

# (∩｀-´)⊃━☆ﾟ.*･｡ﾟ Задачи

## 1. Средний балл (списки)

Дан список `student = ('Иван Питонов', 2001, [8, 7, 7, 9, 6], True)`. Выполните пункты ниже. Все выводы должны быть в формате "Средний балл студента: {средний балл}"

1. Выведите фамилию и имя Ивана в формате "Студент: {Фамилия}, {Имя}"
2. Выведите возраст Ивана, если сейчас 2020 год.
3. Напечатайте оценки Ивана через запятую. 
1. Найдите средний балл Ивана, если оценки хранятся в списке внутри кортежа. Сумму элементов списка можно найти с помощью функции sum(). Выведите средний балл.
3. Если средняя оценка Ивана больше или равна 8, то он получает повышенную стипендию. Выведите True или False.

In [33]:
student = ('Иван Питонов', 2001, [8, 7, 7, 9, 6], True)

# 1
student[0].split()
print(f'Студент {student[0].split()[1]} {student[0].split()[0]}')

Студент Питонов Иван

In [5]:
# 2 
print(f'Возраст Ивана {2020 - student[1]}')

Возраст Ивана 19

In [7]:
# 3 
print(f'Оценки Ивана: {student[2]}')

Оценки Ивана: [8, 7, 7, 9, 6]

In [10]:
# 4
print(f'Средний балл Ивана равен {sum(student[2])/len(student[2])}')

Средний балл Ивана равен 7.4

In [31]:
av = sum(student[2])/len(student[2])
print(f'Иван получает стипендию: {av > 8 and student[3]}')

Иван получает стипендию: False

In [37]:
student[2][student[2].index(6)] = 10
print(student)

('Иван Питонов', 2001, [8, 7, 7, 9, 10], True)
Иван получает стипендию: True

In [38]:
# теперь Иван получает стипендию
av = sum(student[2])/len(student[2])
print(f'Иван получает стипендию: {av > 8 and student[3]}')

Иван получает стипендию: True

## 2. Сортируем числа и строки (списки, сортировки, map())
Дан список `numbers = [1, 1000, 1002124, 25, 10, 20, 351]`. Выполните следующие шаги. Для сортировок пользуйтесь функцией sorted().

1. Отсортируйте этот список по возрастанию и сохраните результат в переменную numbers_int_sorted
2. На основе оригинального списка numbers с помощью функции map создайте новый список, где вместо каждого числа будет строка ('1', '1000' и т.д.) и сохраните его в переменную numbers_str
3. Отсортируйте список numbers_str по возрастанию и сохраните результат в переменную numbers_str_sorted
4. Отсортийте список numbers_str по возрастанию с помощью ключа, который перед сортировкой представляет строки в виде целых чисел, и сохраните результат в переменную numbers_str_key_sorted
5. Выведите три отсортированных списка. Есть ли среди них одинаковые? Почему?

In [42]:
# ваше решение здесь
numbers = [1, 1000, 1002124, 25, 10, 20, 351]

In [45]:
# 1
numbers_int_sorted = sorted(numbers)
print(numbers_int_sorted)

[1, 10, 20, 25, 351, 1000, 1002124]

In [48]:
# 2
numbers_str = list(map(str, numbers))

In [52]:
numbers_str

['1', '10', '20', '25', '351', '1000', '1002124']

In [61]:
# 3
numbers_str_sorted = sorted(numbers_str)
print(numbers_str_sorted)

['1', '10', '1000', '1002124', '20', '25', '351']

In [63]:
# 4
numbers_str_key_sorted = sorted(numbers_str, key = int)
print(numbers_str_key_sorted)

['1', '10', '20', '25', '351', '1000', '1002124']

In [64]:
# 5
print(numbers_int_sorted)
print(numbers_str_sorted)
print(numbers_str_key_sorted)

[1, 10, 20, 25, 351, 1000, 1002124]
['1', '10', '1000', '1002124', '20', '25', '351']
['1', '10', '20', '25', '351', '1000', '1002124']

## 3. Количество различных чисел (списки и множества)

Дан список чисел, который может содержать до 100000 чисел. Определите, сколько в нем встречается различных чисел.

#### Пример 1

##### Ввод	

1 2 3 2 1

##### Вывод

3

#### Пример 2
##### Ввод	

1 2 3 4 5 1 2 1 2 7 3

##### Вывод
6

In [16]:
x = input().split()
print(x)
print(set(x))
print(len(set(x)))

1 2 3 4 5 1 2 1 2 7 3
['1', '2', '3', '4', '5', '1', '2', '1', '2', '7', '3']
{'2', '5', '7', '4', '3', '1'}
6

## 4. Факультативы (множества)
Группа из 3 студентов пишет заявки на желаемые факультативы из списка: английский, немецкий, право, математика, сольфеджио. Факультатив откроют, если на него запишутся все студенты. Каждый студент может выбрать минимум один и максимум три факультатива. Нужно посчитать количество факультативов, которые откроются.

*Пример*

**Ввод:**

английский сольфеджио право  
математика сольфеджио  
немецкий право

**Вывод:**

0

**Ввод:**

математика немецкий право  
математика немецкий  
немецкий право математика 

**Вывод:**  
2

In [27]:
student1 = set(input().split())
student2 = set(input().split())
student3 = set(input().split())

математика немецкий право
математика немецкий
немецкий право математика

In [28]:
print(student1, student2, student3)

{'математика', 'немецкий', 'право'} {'математика', 'немецкий'} {'математика', 'немецкий', 'право'}

In [30]:
print(student1 & student2 & student3)
print(len(student1 & student2 & student3))

{'математика', 'немецкий'}
2

Давайте модифицируем эту задачу, и представим, что только два студента выбирают факультативы, откроются факультативы, которые выбрал, хотя бы один студент. Но затем выясняется, что один из факультативов из списка отменили. Выводить будет через запятую те факультативы, которые откроются.

*Пример*  
**Ввод:**

математика немецкий право  
математика английский  
право

**Вывод:**  
математика, немецкий, английский

In [38]:
student1 = set(input().split())
student2 = set(input().split())

математика немецкий право
математика английский

In [48]:
closed_course = set([input()])

право

In [39]:
open_courses = student1 | student2
print(open_courses)

{'право', 'математика', 'немецкий', 'английский'}

In [49]:
open_courses - closed_course

{'английский', 'математика', 'немецкий'}

## 5. Вложенные словари

Вам дан словарь, содержащий в себе списки словарей. Напишите код, который выведет на экран 'разработчик' из списка ключа Windows в в первом словаре из списка 2.

In [47]:
open_courses - closed_course

{'английский', 'математика', 'немецкий', 'право'}

In [54]:
dict_of_lists = {'Список1': [{'Python': 'язык программирования'}, {'R':'язык программирования', 'LaTEX' : 'язык верстки' }], 
                 'Список2' : [{'Windows' : ['операционная система', 'разработчик'], 'UNIX' : 'операционная система'},
                              {'IBM': ['компания-производитель', 'разработчик'], 'IPv6' : 'интернет-протокол' }]}

dict_of_lists['Список2'][0]['Windows'][1]

'разработчик'

## 6. Срезы строк

Напоминание про работу со строками:

len(s) - определить длину строки s

s[i] - получить i-ый символ строки (нумерация с нуля, i - положительное), в случае отрицательного i нумерация идет справа-налево, начиная с -1, например, s[-1] - это последний символ строки

s[i:j] - получить все символы с i-го включительно по j-ый не включительно

s[:i] - все символы до i-го не включительно

s[i:] - все символы, начиная с i-го включительно

s[i:j:k] - все символы с i-го включитель по j-ый не включительно с шагом k, если шаг отрицательный, то i должно указывать на символ стоящий правее, чем j

**Задача:**

Дана строка.
1. Сначала выведите третий символ этой строки (считая, что нумерация символов начинается с 1).
2. Во второй строке выведите предпоследний символ этой строки.
3. В третьей строке выведите первые пять символов этой строки.
4. В четвертой строке выведите всю строку, кроме последних двух символов.
5. В пятой строке выведите все символы с четными индексами (считая, что индексация начинается с 0).
6. В шестой строке выведите все символы с нечетными индексами (считая, что индексация начинается с 0).
7. В седьмой строке выведите все символы в обратном порядке.
8. В восьмой строке выведите все символы строки через один в обратном порядке, начиная с последнего.
9. В девятой строке выведите длину данной строки.

**Ввод:**   
Abrakadabra

**Вывод:**

r  
r  
Abrak  
Abrakadab  
Arkdba  
baaar  
arbadakarbA  
abdkrA  
11

In [44]:
final_courses

{'английский', 'математика', 'немецкий', 'право'}

In [ ]:
# ваше решение здесь

## 7. Срезы списков

Используя список `girls`, выведите на экран с помощью срезов следующие списки:

    ["Виолетта", "Кассандра", "Вирджиния", "Амелия"]
    ["Вирджиния", "Амелия", "Розамунда", "Янина", "Беатриса"]
    ["Иветта", "Виолетта", "Вирджиния", "Амелия"]
    ["Кассандра", "Амелия", "Розамунда"]

In [9]:
girls = ["Иветта", "Виолетта", "Кассандра", "Вирджиния", 
         "Амелия", "Розамунда", "Янина", "Беатриса"]

print(girls[1:5])
print(girls[3:])
print(girls[:2] + girls[3:5])
print(girls[2:3] + girls[4:6])

['Виолетта', 'Кассандра', 'Вирджиния', 'Амелия']
['Вирджиния', 'Амелия', 'Розамунда', 'Янина', 'Беатриса']
['Иветта', 'Виолетта', 'Вирджиния', 'Амелия']
['Кассандра', 'Амелия', 'Розамунда']

In [14]:
print(girls[girls.index('Виолетта'):girls.index('Амелия')+1])
print([girls[2]] + girls[4:6])

['Виолетта', 'Кассандра', 'Вирджиния', 'Амелия']
['Кассандра', 'Амелия', 'Розамунда']

## 8. Блок-схемы (условия)

Реализуйте код для обеих блок-схем в условии задачи
![](img/1.png)

In [ ]:
# ваше решение здесь

![](img/2.png)

In [ ]:
# ваше решение здесь

### 9. Сколько чисел совпадает? (условия)

Даны три целых числа. Определите, сколько среди них совпадающих. Программа должна вывести одно из чисел: 3 (если все совпадают), 2 (если два совпадает) или 0 (если все числа различны).

**Формат ввода**  
Вводятся три целых числа

**Формат вывода**  
Целое число

In [60]:
a = int(input())
b = int(input())
c = int(input())

7
7
7

In [61]:
if a == b == c:
    print('3')
elif a == b or a==c or b == c:
    print('2')
else:
    print('0')

3

### 10. Наименьший делитель

Дано целое число, не меньшее 2. Выведите его наименьший натуральный делитель, отличный от 1.

**Формат ввода**  
Вводится целое положительное число

**Формат вывода**  
Выведите ответ на задачу

**Пример**

**Ввод**    
15

**Вывод**  
3

In [ ]:
# ваше решение здесь