## Списки, последовательности

Список может содержать числа, строки и смешанные данные

In [2]:
students = ['Ivan', 'Tatiana', 'Olga']

In [3]:
type(students)

list

In [9]:
empty = list()
empty = []
print(empty)

[]

In [5]:
print(students[0], students[2])

Ivan Olga

строка - это тоже последовательность

In [6]:
x = 'something'
x[-2]

'n'

In [8]:
print(len(empty)) #длина
print(len(students))
print(len(x))

0
3
9

In [10]:
marks = [8, 4, 5]

In [11]:
students[0], marks[0]

('Ivan', 8)

In [12]:
student1 = ['Ivan Ivanov', 1987, 6.7, True]

In [13]:
student1

['Ivan Ivanov', 1987, 6.7, True]

In [14]:
student2 = ['Maria Smirnova', 2001, 8, False]

In [16]:
# список может содержать список
course_info = [student1, student2]
course_info

[['Ivan Ivanov', 1987, 6.7, True], ['Maria Smirnova', 2001, 8, False]]

In [20]:
# звездочка разбирает список на элементы и функция print берет каждый элемент отдельно
# print(course_info[0], course_info[1]). Если бы это не сделали, print бы воспринял два 
# элемента списка как один цельный объект
print(*course_info, sep='\n')

['Ivan Ivanov', 1987, 6.7, True]
['Maria Smirnova', 2001, 8, False]

In [21]:
print(course_info[0])

['Ivan Ivanov', 1987, 6.7, True]

In [22]:
print(course_info[0][1])

1987

In [25]:
# список - это изменяемый объект
course_info[0][2] = [5, 6]
course_info[1][2] = [8, 9]
print(course_info)

[['Ivan Ivanov', 1987, [5, 6], True], ['Maria Smirnova', 2001, [8, 9], False]]

In [26]:
print(course_info[0][2][0])

5

In [27]:
x[1] = 'O'

TypeError: 'str' object does not support item assignment

In [32]:
# сделали из строки список
lst = list(x)
print(lst)
lst[1] = 'O'
print(lst)
''.join(lst)

['s', 'o', 'm', 'e', 't', 'h', 'i', 'n', 'g']
['s', 'O', 'm', 'e', 't', 'h', 'i', 'n', 'g']

'sOmething'

In [ ]:
# in + not in

In [33]:
course_info[0] = 'Отчислился'
'Отчислился' in course_info

True

In [34]:
'a' not in x

True

In [35]:
# метод - это функция, которые работают с определнными типами данными

In [36]:
# append -  это метод
students.append('Egor')

In [37]:
students

['Ivan', 'Tatiana', 'Olga', 'Egor']

In [40]:
students += ['Alena']

In [41]:
students

['Ivan', 'Tatiana', 'Olga', 'Egor', 'A', 'l', 'e', 'n', 'a', 'Alena']

In [42]:
students  = students + ['Olga']

In [48]:
students

['Ivan', 'Olga', 'Egor', 'A', 'l', 'e', 'n', 'a', 'Alena', 'Olga']

In [47]:
# удалить по элементу или по индексу, pop сохраняет удаленный элемент в переменной
students.remove('Tatiana')

ValueError: list.remove(x): x not in list

In [49]:
students.pop(0)

'Ivan'

In [50]:
deleted_object = students.pop(0)
deleted_object

'Olga'

In [52]:
students[-1]

'Olga'

In [56]:
students[students.index('Olga')]

'Olga'

In [55]:
students[7]

'Olga'

In [57]:
students += ['Olga']

In [58]:
students.count('Olga')

2

In [59]:
students.reverse()
students

['Olga', 'Olga', 'Alena', 'a', 'n', 'e', 'l', 'A', 'Egor']

## Кортеж

In [60]:
y = (2, 4, 25)

In [61]:
type(y)

tuple

In [62]:
y[0]

2

In [63]:
#  отличие от списка: кортеж не изменяем, с кортежем быстрее работают операции, кортежи могут быть ключами от словаря

In [68]:
# если создали кортеж со списком внутри, то кортеж перстает быть неизменяемым
z = (2, 52, [2,4])

In [65]:
z[2][1] = 2

In [66]:
z[2].append(5)

In [67]:
z

(2, 52, [2, 2, 5])

In [69]:
# делаем из списка кортеж
tuple(students)

('Olga', 'Olga', 'Alena', 'a', 'n', 'e', 'l', 'A', 'Egor')

In [72]:
# делаем из кортежа список 
list(z)

[2, 52, [2, 4]]

In [75]:
# конкатенация
print(type(y))
print(y)
z + y

<class 'tuple'>
(2, 4, 25)

(2, 52, [2, 4], 2, 4, 25)

### сортировка

In [76]:
test_list = [5, 8, 1, 4, 3, 7, 2]

In [78]:
test_list.sort(reverse=True) # изменяет список и сортирует по возрастанию
test_list

[8, 7, 5, 4, 3, 2, 1]

In [80]:
x = ['ab', 'z', 'cat', 'apple']
x.sort()
x

['ab', 'apple', 'cat', 'z']

In [81]:
# функция
sorted(x, reverse = True)

['z', 'cat', 'apple', 'ab']

In [82]:
sorted((2,3,2,1))

[1, 2, 2, 3]

In [84]:
''.join(sorted('something'))

'eghimnost'

In [88]:
test_string = 'A string with upper and LOWER cases'
print(test_string.split())
print(sorted(test_string.split(), key=str.lower)) # приводит к нижнему регистру, а затем сортирует

['A', 'string', 'with', 'upper', 'and', 'LOWER', 'cases']
['A', 'and', 'cases', 'LOWER', 'string', 'upper', 'with']

In [89]:
test_string.upper()

'A STRING WITH UPPER AND LOWER CASES'

In [92]:
# a и b  - это один и тот же объект, мы его меняем
a = [1,2,3]
b = a
a[2] = 10034
print(a, b)

a = [1,2,3]
b= a.copy()
a[2] = 10034
print(a, b)

[1, 2, 10034] [1, 2, 10034]
[1, 2, 10034] [1, 2, 3]

In [93]:
# здесь мы перезаписали a
a = [1,2,3]
b = a
a = [4,5,6]
print(a,b)

[4, 5, 6] [1, 2, 3]

In [94]:
z = test_string.split()

In [96]:
list(map(str.lower, z)) # возьми функцию или метод (если метод, то нужно прописать тип данных для метода - str)
# и примени ко всем элементам

['a', 'string', 'with', 'upper', 'and', 'lower', 'cases']

In [102]:
sum(list(map(int, '3 4 24 67'.split())))

98

In [104]:
sum(map(int, '3 4 5 7 9'.split()))

28